<div class="container">
  <h1>Want one survey?</h1>
  <br />
  <form [formGroup]="surveyForm">
    <label for="surveyid">Survey Id: </label>
    <input
      class="form-control"
      type="text"
      name="surveyid"
      id="surveyid"
      placeholder="Enter a survey id..."
      formControlName="surveyid"
      required
    />
    <div class="form-group">
      <div *ngIf="surveyid.invalid && (surveyid.dirty || surveyid.touched)">
        <p *ngIf="surveyid.errors.required">Survey id is required!</p>
      </div>
      <br>
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="getOneSurvey(1)"
      >
        Get one survey
      </button>
    </div>
    <br />
    <ul class="list-group">
      <li class="list-group-item" style="border: none;">
        {{ survey.title }}<br />
        {{ survey.description }} <br />
      </li>
    </ul>
  </form>
</div>
