<div class="container">
  <h1>All Surveys</h1>
  <br />
  <div class="form-group">
  </div>
  <ul class="list-group">
    <li *ngFor="let survey of surveys" class="list-group-item" style="border: none;">
      {{ survey.title }}<br />
      {{ survey.description }}
    </li>
  </ul>
  <app-survey-list-item></app-survey-list-item>

</div>

